@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
BODY {
	font-family: sans-serif;
}

.login-bg {
	overflow: auto;
	height: 100%;
}

#logo {
	height: 100px;
	width: auto;
	margin-left: 30px;
}

#title {
	opacity: 1;
	width: 100%;
	height: 100%;
	max-width: 1680px;
	margin: 0 auto;
}

.image {
	margin-top: 100px;
	background: white;
	width: 100%;
}

.navigation {
	width: 100%;
	height: 100px;
	display: block;
	overflow: hidden;
	background: #ffffff;
	margin-top: 0%;
	top: 0;
	left: 0;
	z-index: 100;
}

nav-login {
	float: right;
	display: block;
	width: 100%;
	overflow: auto;
	horiz-align: center;
}

nav {
	float: right;
	display: block;
	width: 100%;
	overflow: auto;

}

nav ul {
	height: 100%;
	float: right;
	margin: 0;
	padding: 0;
}

nav li{
	list-style: none;
	float: left;
	height: 100%;
	text-align: right;
	vertical-align: middle;
}

nav li a {
	font-family: 'Montserrat', sans-serif;
	display: block;
	line-height: 100px;
	vertical-align: middle;
	height: 100%;
	padding: 0px 30px;
	color: #000000;
	font-size: 15px;
	text-decoration: none;

}

nav li a img {
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
}

.content{
	width: 100%;
	min-height: 1000px;
	height: auto;
	margin: 120px auto;
	display: block ;
	overflow: auto;
}
.shopheader{
 position: relative;
}

.shopheader:before{
	content: ' ';
	width: 100%;
	height: 500px;
	margin: 30px auto;
	display: block;
	overflow: auto;
	background-image: url("../images/header.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	opacity: 0.2;
}

a {
	color: #fb3c8c;
	text-align: center;
}

a.form-control{
	clear: right;
	text-align: center;
	margin-top: 10px;
}

a.form-control:hover{
	text-decoration: none;
	color: black;
}

.footer {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	display: table;
	overflow: auto;
	margin-bottom: 0%;
	bottom: 0;
	left: 0;
	z-index: 100;
}

.footer .column{
	margin:0% 1%;
	display:table-cell;
	width: 33.333%;
	padding: 1em;
	text-align: center;
}

.footer .column ul{
	width:100%;
}

.footer .column ul li{
	list-style:none;
	padding:5px 0px;
	color:gray;
}

.footer .column ul li a{
	text-decoration:none;
	font-size:1em;
	color:gray;
	transition:0.5s;
}

.footer .column ul li a:hover{
	color:#fb3c8c;
}

.footer .column ul .title{
	font-size:1.2em;
	color:#000000;
}

.footer .column ul li input{
	padding:10px 5px;
	outline:none;
	border:0;
	width:70%;
	height:40px;
	color:#1e1e1e;
}

.footer .column ul li i{
	font-size:2em;
	margin:0px 10px;
}

.sub-footer{
	background:transparent;
	padding:5px 0px;
	text-align:center;
	color:#fb3c8c;
	font-size:12px;
	font-family: 'Play', sans-serif;
}

.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 300px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
	font-family: 'Montserrat', sans-serif;
	outline: 0;
	background: transparent;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #fb3c8c;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #fb3c8c;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
	background: #c91c67;
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #3c3f40;
	text-decoration: none;
}

.form p {
	font-family: 'Montserrat', sans-serif;
	color: #fb3c8c;
	font-size: 150%;
	font-weight: bolder;
	text-transform: uppercase;
}

.about-section {
	width: 100%;
	padding: 50px;
	text-align: center;
	background-color: transparent;
	color: black;
}

.row {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.column {
	width: 15%;
	margin-bottom: 16px;
	padding: 0 8px;
}

.aboutus-card {
    display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	min-width: 300px;
	max-width: 300px;
	min-height: 420px;
	max-height: 600px;
	margin-top: 3.33%;
	margin-right: 3.33%;
	margin-left: 3.33%;
	text-align: center;
}

.card {
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	min-width: 300px;
	max-width: 300px;
	min-height: 560px;
	max-height: 600px;
	margin-top: 3.33%;
	margin-right: 3.33%;
	margin-left: 3.33%;
	text-align: center;
	font-family: arial;
}

.price {
	color: grey;
	font-size: 22px;
}

.card button {
	margin-bottom: 0%;
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}


.card button:hover {
	opacity: 0.7;
}