<!DOCTYPE html>

<html class="login-bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/basic.css">
</head>
<body>
<section class="navigation">
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-transparent text-black">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/images/logo.png" height="100px" class="d-inline-block align-top" alt=""/>
            </a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/item">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Checkout</a>
                    </li>
                </ul>
                <div class="text-end" th:switch="${isLoggedin}">
                    <a class="btn btn-outline-dark" href="/shoppingcart/viewer" role="button">Shopping Cart</a>
                    <a class="btn btn-outline-dark" href="/logout" role="button" th:case="'true'">Logout</a>
                    <a class="btn btn-outline-dark" href="/login" role="button" th:case="'false'">Login</a>
                    <a class="btn btn-outline-dark" href="/register" role="button" th:if="${isLoggedin == 'false'}">Signup</a>
                </div>
            </div>
        </div>
    </nav>
</section>

<section class="content">

    <h1 style="font-family: 'Montserrat', sans-serif; font-size: 48px; text-align: center">Order overview</h1>
    <h4 style="font-family: 'Montserrat', sans-serif; font-size: 36px; color: green; text-align: center" id="confirmmessage"></h4>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-4" th:each="item : ${checkout}">
                <h3 style="font-family: 'Montserrat', sans-serif">Total amount of items:</h3>
                <p class="price" th:text="${item.getQuantity()}">0</p>
                <h3 style="font-family: 'Montserrat', sans-serif">Total price:</h3>
                <p class="price" th:text="'CHF ' + ${item.getPrice()}">$0.00</p>
                <div class="card"><button onclick="PaymentConfirm()">Pay</button></div>

            </div>
            <div class="col-8 form" id="hiden" style="display: none"></div>
        </div>
        <hr>
    </div>




</section>
<section class="footer">
    <footer>
        <div class="footer">
            <div class="column">
                <ul>
                    <li class="title">About us</li>
                    <li><p style="width: 50%; margin: auto; font-size: 10px; position: center;: center;">Team Pitahaya is a young company that has made it its mission to increase the awareness of the Dragen fruit. Our products are produced in a sustainable and environmentally friendly way.</p></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li class="title">Contact</li>
                    <li><a href="tel:+41234567890">+41 23 456 78 90</a></li>
                    <li><a href="mailto:hello@teampitahaya.com">hello@teampitahaya.com</a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li class="title">Social Media</li>
                    <li> <img width="32px" height="32px" src="/images/footer_facebook.png"> <img width="32px" height="32px" src="/images/footer_linkedin.png"> <img width="32px" height="32px" src="/images/footer_instagram.png"> <img width="32px" height="32px" src="/images/footer_twitter.png"> <img width="32px" height="32px" src="/images/footer_tumbler.png"> </li>
                </ul>
            </div>
        </div>
    </footer>
</section>
</body>
</html>
<script>

    function DisplayConfirmMessage(){
        document.getElementById("confirmmessage").innerHTML = 'Your order was successful!'
    }
    function PaymentConfirm(){

        var x = document.getElementById('hiden');
        if (x.style.display == 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
        document.getElementById("hiden").innerHTML = '<h1>Credit card details</h1><br>\n' +
            '    <h5 style="font-family: \'Montserrat\', sans-serif"><label for="cardname">Full name on card</label></h5>\n' +
            '    <input type="text" id="cardname">\n' +
            '    <h5 style="font-family: \'Montserrat\', sans-serif"><label for="cardnumber">Card number</label></h5>\n' +
            '    <input type="text" id="cardnumber">\n' +
            '    <h5 style="font-family: \'Montserrat\', sans-serif"><label for="expiredate">Expire date</label></h5>\n' +
            '    <input type="date" id="expiredate">\n' +
            '    <h5 style="font-family: \'Montserrat\', sans-serif"><label for="securitycheck">Cvv code</label></h5>\n' +
            '    <input type="password" id="securitycheck">\n' +
            '    <button class="card" onclick="DisplayConfirmMessage()">Confirm</button>';
    }

</script>