<!DOCTYPE html>

<html class="login-bg" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Pitahaya Shop - Products</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/basic.css">

</head>
<body>
<section class="navigation">
	<nav class="navbar navbar-expand-md navbar-light fixed-top bg-transparent text-black">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<img src="/images/logo.png" height="100px" class="d-inline-block align-top" alt=""/>
			</a>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ms-auto me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="/item">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/aboutus">About us</a>
					</li>
				</ul>
				<div class="text-end" th:switch="${isLoggedin}">
					<a class="btn btn-outline-dark" href="/shoppingcart/viewer" role="button">Shopping Cart</a>
					<a class="btn btn-outline-dark" href="/logout" role="button" th:case="'true'">Logout</a>
					<a class="btn btn-outline-dark" href="/login" role="button" th:case="'false'">Login</a>
					<a class="btn btn-outline-dark" href="/register" role="button" th:if="${isLoggedin == 'false'}">Signup</a>
				</div>
			</div>
		</div>
	</nav>
</section>
<section class="shopheader" >
	<div style="position: absolute; text-align: center; top: 50%; left: 50%; transform: translate(-50%, -50%);">
		<h1 style="font-family: 'Montserrat', sans-serif; font-size: 56px">Welcome to our Online Shop</h1>
		<h3 style="font-family: 'Montserrat', sans-serif; font-size: 36px">Here you will find various articles about the dragon fruit</h3>
	</div>
</section>
<section class="content">
	<h1 style="font-family: 'Montserrat', sans-serif; font-size: 48px; text-align: center">Products</h1>
	<div style="align-content: center; ">
		<form class="input-group" action="/searchstore" method="post" style="width: 40%; margin: auto;">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" name="searchitem" id="searchitem" aria-label="Search"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
	<div class="card" th:each="item : ${list}">
		<div class="view zoom overlay">
			<img th:src="${item.getPath()}" th:alt="${item.getName()}" style="width:100%; min-height: 365px; max-height: 365px; max-width: 295px;">
		</div>
		<div class="card-body text-center" >
			<h5 th:text="${item.getName()}">Fantasy T-shirt</h5>
			<p class="small text-muted text-uppercase mb-2">100% fair & natural</p>
			<hr>
			<h6 class="mb-3">
				<span class="text-danger mr-1" th:text="'CHF ' + ${item.getPrice()} + '0'">$12.99</span>
			</h6>
			<a class="btn btn-dark" th:href="${'/shoppingcart?id=' + item.getId()}" href="" role="button">Add to Cart</a>
		</div>
	</div>
</section>
<section class="footer">
	<footer>
		<div class="footer">
			<div class="column">
				<ul>
					<li class="title">About us</li>
					<li><p style="width: 50%; margin: auto; font-size: 10px; position: center;: center;">Team Pitahaya is a young company that has made it its mission to increase the awareness of the Dragen fruit. Our products are produced in a sustainable and environmentally friendly way.</p></li>
				</ul>
			</div>
			<div class="column">
				<ul>
					<li class="title">Contact</li>
					<li><a href="tel:+41234567890">+41 23 456 78 90</a></li>
					<li><a href="mailto:hello@teampitahaya.com">hello@teampitahaya.com</a></li>
				</ul>
			</div>
			<div class="column">
				<ul>
					<li class="title">Social Media</li>
					<li> <img width="32px" height="32px" src="/images/footer_facebook.png"> <img width="32px" height="32px" src="/images/footer_linkedin.png"> <img width="32px" height="32px" src="/images/footer_instagram.png"> <img width="32px" height="32px" src="/images/footer_twitter.png"> <img width="32px" height="32px" src="/images/footer_tumbler.png"> </li>
				</ul>
			</div>
		</div>
	</footer>
</section>
</body>
</html>