<!DOCTYPE html>

<html class="login-bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<section class="navigation">
    <nav>
        <a href="/"><img id="logo" src="/images/logo.png"></a>
        <ul>
            <li><a href="/item">Products</a></li>
            <li><a href="/aboutus">About us</a></li>
            <li><a href="#"><b>Checkout</b></a></li>
        </ul>
    </nav>
</section>
<section class="content">
    <div class="shoppingcart">
        <div class="card">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col">
                                <h4><b>Shopping Cart</b></h4>
                                <div>
                                    <h5 style="color: green" id="confirmmessage"></h5>
                                </div>
                            </div>
                            <div class="col align-self-center text-right text-muted" th:text="'Total amount of items ' +${items.getTotalAmount()}"></div>
                        </div>
                    </div>

                    <div class="row border-top border-bottom"  th:each="item : ${items.getDistinctShoppingCart()}">
                        <div class="row main align-items-center">
                            <div class="col-2">
                                <img style="max-width: 100%; height: auto" class="img-fluid" th:src="${item.getPath()}"></div>
                            <div class="col">
                                <div class="row"><div class="row text-muted"  th:text="${item.getName()}"></div></div>
                                <div class="row" style="font-size: 12px"><div class="row text-muted"  th:text="'#' +${item.getId()}"></div></div>
                            </div>
                            <div class="col ">
                                <div class="row border rounded"  style="border-color: #3c3f40;max-width: 89px">
                                    <a th:href="${'/shoppingcart/delete?id=' + item.getId()}">-</a>
                                    <a href="#"  th:text="${items.getSpecificAmount(item)}"></a>
                                    <a th:href="${'/shoppingcart?id=' + item.getId()}">+</a> </div>
                                </div>


                            <div class="col price">
                                <div class="row" th:text="'CHF ' + ${items.getSpecificPrice(item)} + '0'"></div>


                                <span class="close" ><a th:href="${'/shoppingcart/all/delete?id=' + item.getId()}">&#10005;</a></span></div>

                        </div>
                        <div ></div>
                    </div>

                    <div class="back-to-shop"><a href="/">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
                </div>
                <div class="col-md-4 summary form">
                    <div style="text-align: left">
                        <h5>Card Details</h5>

                        <div class="row">
                            <div class="col"><img style="object-fit: cover"src="/images/visalogo.png" alt="visa"></div>
                            <div class="col"><img style="object-fit: cover"src="/images/mastercardlogo.png" alt="mastercard"></div>
                            <div class="col"><img style="object-fit: cover" src="/images/twintlogo.png" alt="twint"></div>
                        </div>
                    </div>
                    <hr>


                    <form>
                        <p style="text-align: left; font-size: 14px">Name on the card</p><input type="text" required>
                        <p style="text-align: left; font-size: 14px">Card Number</p> <input id="code" type="text" required>
                        <div class="row">
                            <div class="col"><p style="text-align: left; font-size: 14px">Expiry Date</p> <input type="date" required></div>
                            <div class="col"><p style="text-align: left; font-size: 14px">CCV</p> <input type="password" required></div>
                        </div>


                    </form>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div style="font-size: large" class="col">Subtotal</div>
                        <h3 class="col text-right" th:text="'CHF ' + ${items.getTotalPrice()} + '0'"></h3>
                    </div> <button onclick="DisplayConfirmMessage()"class="btn" style="text-transform: capitalize">Checkout</button>
                </div>
            </div>
        </div>
    </div>







</section>
<section class="footer">
    <footer>
        <div class="footer">
            <div class="column">
                <ul>
                    <li class="title">About us</li>
                    <li><p style="width: 50%; margin: auto; font-size: 10px; position: center;: center;">Team Pitahaya is a young company that has made it its mission to increase the awareness of the Dragen fruit. Our products are produced in a sustainable and environmentally friendly way.</p></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li class="title">Contact</li>
                    <li><a href="tel:+41234567890">+41 23 456 78 90</a></li>
                    <li><a href="mailto:hello@teampitahaya.com">hello@teampitahaya.com</a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li class="title">Social Media</li>
                    <li> <img width="32px" height="32px" src="/images/footer_facebook.png"> <img width="32px" height="32px" src="/images/footer_linkedin.png"> <img width="32px" height="32px" src="/images/footer_instagram.png"> <img width="32px" height="32px" src="/images/footer_twitter.png"> <img width="32px" height="32px" src="/images/footer_tumbler.png"> </li>
                </ul>
            </div>
        </div>
    </footer>
</section>
</body>
</html>
<script>
    function DisplayConfirmMessage(){
        document.getElementById("confirmmessage").innerHTML = 'Your order was successful!'
    }
</script>

<style>
    .shoppingcart{

        min-height: 100vh;
        vertical-align: middle;
        display: flex;
        font-family: sans-serif;
        font-size: 0.8rem;
        font-weight: bold
    }


    .title {
        margin-bottom: 5vh
    }

    .card {
        margin: auto;
        max-width: 2000px;
        width: 90%;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1rem;
        border: transparent
    }

    @media(max-width:767px) {
        .card {
            margin: 3vh auto
        }
    }

    .cart {
        background-color: #fff;
        padding: 4vh 5vh;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem
    }

    @media(max-width:767px) {
        .cart {
            padding: 4vh;
            border-bottom-left-radius: unset;
            border-top-right-radius: 1rem
        }
    }

    .summary {

        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 4vh;

    }

    @media(max-width:767px) {
        .summary {
            border-top-right-radius: unset;
            border-bottom-left-radius: 1rem
        }
    }

    .summary .col-2 {
        padding: 0
    }

    .summary .col-10 {
        padding: 0
    }

    .row {
        margin: 0
    }

    .title b {
        font-size: 1.5rem
    }

    .main {
        margin: 0;
        padding: 2vh 0;
        width: 100%
    }

    .col-2,
    .col {
        padding: 0 1vh
    }

    a {
        padding: 0 1vh
    }

    .close {
        margin-left: auto;
        font-size: 0.7rem
    }

    img {
        width: 3.5rem
    }

    .back-to-shop {
        margin-top: 4.5rem
    }

    h5 {
        margin-top: 4vh
    }

    hr {
        margin-top: 1.25rem
    }

    form {
        padding: 2vh 0
    }

    select {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1.5vh 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247)
    }

    input {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247)
    }

    input:focus::-webkit-input-placeholder {
        color: transparent
    }

    .btn {
        background-color: #000;
        border-color: #000;
        color: white;
        width: 100%;
        font-size: 0.7rem;
        margin-top: 4vh;
        padding: 1vh;
        border-radius: 0
    }

    .btn:focus {
        box-shadow: none;
        outline: none;
        box-shadow: none;
        color: white;
        -webkit-box-shadow: none;
        -webkit-user-select: none;
        transition: none
    }

    .btn:hover {
        color: white
    }

    a {
        color: black
    }

    a:hover {
        color: black;
        text-decoration: none
    }
    #code {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center
    }
</style>